

    


header{
    display: flex;
    width: 100%;
    font-family: "Protest Strike";
    
    background-color: red;
    justify-content: center;
    background-image: url("../afbeeldingen/groningen.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position-y: center;
    color:cyan;
    
}
.central_container{
    background-color: antiquewhite;
    display: flex;
    
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    margin: 3px;
    padding: 3px;
    border-radius: 25px;
    border: yellowgreen solid 4px;
}
.central_part{
    align-self: center;
    padding-right: 100px;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 4.5vw;
    justify-content: center;
    
    border: solid black 4px;
    
    margin: 3px;
    display: flex;
    text-align: center;
    
    background-color: yellow;
    display: block;
    height: fit-content;
    min-width: 150px;
}

#facts{
    width: 100%;
}

td{
    vertical-align:top;
    padding: 10px;
}
.inhoud h1{
    text-align: center;
    font-size: 5vw;
}
img{
    
    float: right;
    display: inline;
    width: 50%;
    min-width: 250px;
}

th{
    text-align: center;
}
footer p{
    float: left;
    padding: 5px;
    background-color: aqua;
    border: 2px blueviolet solid;
    align-self: center;
    width: 100%;
    font-size: 2em;
}
.fill-image{
    padding: 5px;
    min-width: 200px;
    max-width: 100%;
    display: none;
    
    
    
    

}


@media only screen and (min-width:1000px) {

    .central_part {
        font-size: 30px;
        width: 66%;

        
    }
    .central_container{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        vertical-align: top;
    }
    #facts{
        width: 33%;
        align-self: flex-start;

    }
    .fill-image{
        display: inline;
        
    }



}
@media only screen and (min-width:768px) {
    .central_part {
        font-size: 30px;
        

        
    }
    
}